<div class="navbar-input-group">
    <input type="text" name="term" id="searchInput" class="form-control" />
    <div class="input-group-btn">
        <button class="btn input-group-btn" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</div>