@model MvcPL.Models.FullBlogViewModel

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete the blog @Model.Name?</h3>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="form-control btn btn-primary" value="Delete"/>
    </p>
    @Html.ActionLink("Back to List", "Index")
}
